# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
env/
ENV/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Data Files (Do NOT push datasets)
# -----------------------------
*.csv
*.xlsx
clean_data/


# -----------------------------
# BigQuery Credentials (IMPORTANT)
# -----------------------------
config/ecommerce-key.json

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db